[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/srv/CheersTracker_BE/venv/bin/uwsgi -i /srv/CheersTracker_BE/.config/uwsgi/cheers.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target